<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Local style sheets -->
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    
    <!-- external reference sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><script src='//cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://d3js.org/d3.v2.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    
  <!------------------------------------------------------------------------------------------>
  <!---------------------------------NAVIGATION BAR------------------------------------------->
  <!------------------------------------------------------------------------------------------>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand text-white"><ion-icon name="pulse"></ion-icon> Game of Fitbit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"><ion-icon name="home"></ion-icon> Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><ion-icon name="cube"></ion-icon> App Demo<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/ljjbill/game_of_fitbit" target="_blank"><ion-icon name="logo-github"></ion-icon> GitHub Repo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.icloud.com/keynote/0Q3vnrAHg5Kq4gbVsNciH0ENg#GOF" target="_blank"><ion-icon name="easel"></ion-icon> Keynote</a>
            </li>
          </ul>
        </div>
    </nav>
    <div id="output" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Model Results</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <div class="modal-body">
                        <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple32/v4/06/3e/55/063e5511-3bf7-9ed6-c57b-010d1653b4a5/source/512x512bb.jpg" alt="cal burn" width="80" height="80">
                        <h4>Predicted calories</h4>
                        <h3 id="calouput">{{ output }}</h3>
        
                    </div>
                </div>
            </div>
    </div>
    <div id="output2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content text-danger">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">WARNING: Wrong Input!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <div class="modal-body content-center">
                        <img src="https://data.whicdn.com/images/287267204/original.gif" alt="error image" class="img-thumbnail rounded">
                        <p><i>Please make sure to fill out all available fields, and make sure you only input numbers.</i></p>
                    </div>
                </div>
            </div>
    </div>
    <div class="parallax2">
            
    </div>
    <div class="caption">
        <div class="container justify-content-center">
            <div class="col">
                <h2 class="text-white display-2 rounded-pill shadow-lg">
                    <strong><ion-icon name="cube"></ion-icon> App Demo</strong>
                </h1>
            </div>
        </div>
    </div>


  <!------------------------------------------------------------------------------------------>
  <!---------------------------------Form--------------------------------------------->
  <!------------------------------------------------------------------------------------------>
<div class="parallax3">
    <div class="container text-white">
        <div class="row justify-content-center">
            <div class="col-md-7  bg-dark rounded shadow-lg">
                <br>
            <p class="text-white text-center"><i>
                This form is designed to calculate the number of calories burned based on the level of activity entered on the form.
                Feel free to enter real data tracked from a fitness device to get an estimated amount of calories burned.
                You can also adjust the numbers to see if changes in you your routine will affect the amount of calories burned through out the day.
            </i></p>
            <h2 class="bg-dark text-white rounded-pill text-center shadow-lg border border-light">
                Enter your activity info below!
            </h2>
                        <hr>
            <form method="POST" action="/send" role="form", name="petform">
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <label for="inputSteps"><strong><ion-icon name="walk"></ion-icon> Total Steps</strong></label>
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#t-steps" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="t-steps">
                            <div class="card card-body alert-warning">
                                <strong>Total Steps</strong><hr>Please enter the estimated total number of steps taken in ONE day.
                            </div>
                            <br>
                    </div>
                    <input type="text" class="form-control" id="inputSteps" name="userSteps" placeholder="Steps">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <label for="inputTackerdist"><strong><ion-icon name="paper-plane"></ion-icon> Total Distance</strong></label>      
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#t-distance" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="t-distance">
                            <div class="card card-body alert-warning">
                                <strong>Total Distance</strong><hr>Please enter the estimated total distance traveled in ONE day.
                                <i>This is measured in miles.</i>
                            </div>
                            <br>
                    </div>
                    <input type="text" class="form-control" id="inputTackerdist" name="TrackerDistance" placeholder="Distance">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <label for="inputLoggedDist"><strong><ion-icon name="football"></ion-icon> Logged Activities Distance</strong></label>
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#l-distance" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="l-distance">
                            <div class="card card-body alert-warning">
                                <strong>Activities Distance</strong><hr>Please enter the estimated total distance traveled within logged activities. 
                                Logged activities could be playing sports, hiking, etc.
                                <i>This is measured in miles.</i>
                            </div>
                            <br>
                    </div>
                    <input type="text" class="form-control" id="inputLoggedDist" name="LogActDist" placeholder="Acitivity Distance">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <label for="inputVeryActDist"><strong><ion-icon name="jet"></ion-icon> Very Active Distance</strong></label>
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#v-distance" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="v-distance">
                            <div class="card card-body alert-warning">
                                <strong>Very Active Distance</strong><hr>Please enter the estimated total distance traveled at high levels of activity.
                                High levels of activity correlate with very elevated heart rate.
                                <i>This is measured in miles.</i>
                            </div>
                            <br>
                    </div>
                    <input type="text" class="form-control" id="inputVeryActDist" name="VeryActDist" placeholder="Very Active">
                </div>
                <div class="form-group">
                        <div class="row">
                            <div class="col-auto">
                                <label for="inputModDist"><strong><ion-icon name="send"></ion-icon> Moderate Active Distance</strong></label>
                            </div>
                            <p>
                                <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#m-distance" aria-expanded="false" aria-controls="collapseExample">
                                    <ion-icon name="help"></ion-icon>
                                </button>
                            </p>
                        </div>
                        <div class="collapse" id="m-distance">
                                <div class="card card-body alert-warning">
                                    <strong>Moderate Active Distance</strong><hr>Please enter the estimated total distance traveled at moderate levels of activity.
                                    Moderate levels of activity correlate with moderately elevated heart rate.
                                    <i>This is measured in miles.</i>
                                </div>
                                <br>
                        </div>
                    <input type="text" class="form-control" id="inputModDist" name="ModActDist" placeholder="Moderate Active">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <label for="inputLightDist"><strong><ion-icon name="bicycle"></ion-icon> Light Active Distance</strong></label>
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#li-distance" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="li-distance">
                            <div class="card card-body alert-warning">
                                <strong>Light Active Distance</strong><hr>Please enter the estimated total distance traveled at light levels of activity.
                                Light levels of activity correlate with lightly elevated heart rate.
                                <i>This is measured in miles.</i>
                            </div>
                            <br>
                    </div>
                    <input type="text" class="form-control" id="inputLightDist" name="LightActDist" placeholder="Light Active">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <label for="inputSeden"><strong><ion-icon name="man"></ion-icon> Sedentary Active Distance</strong></label>
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#s-distance" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="s-distance">
                            <div class="card card-body alert-warning">
                                <strong>Sedentary Active Distance</strong><hr>Please enter the estimated total distance traveled at Sedentary levels of activity.
                                Low levels of activity correlate with low elevated heart rate.
                                <i>This is measured in miles.</i>
                            </div>
                            <br>
                    </div>
                    <input type="text" class="form-control" id="inputSeden" name="SedenActDist" placeholder="Sedentary Active">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <label for="inputVeryActMin"><strong><ion-icon name="speedometer"></ion-icon> Very Active Minutes</strong></label>
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#v-time" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="v-time">
                        <div class="card card-body alert-warning">
                            <strong>Very Active Minutes</strong><hr>Please enter the estimated total time spent at high levels of activity.
                            High levels of activity correlate with highly elevated heart rate.
                            <i>This is measured in minutes.</i>
                        </div>
                        <br>
                    </div>
                    <input type="text" class="form-control" id="inputVeryActMin" name="VeryActMin" placeholder="Very Active Minutes">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <label for="inputFairActMin"><strong><ion-icon name="stopwatch"></ion-icon> Fairly Active Minutes</strong></label>
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#f-time" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="f-time">
                        <div class="card card-body alert-warning">
                            <strong>Fairly Active Minutes</strong><hr>Please enter the estimated total time spent at Moderate levels of activity.
                            Moderate levels of activity correlate with moderately elevated heart rate.
                            <i>This is measured in minutes.</i>
                        </div>
                        <br>
                    </div>
                    <input type="text" class="form-control" id="inputFairActMin" name="FairActMin" placeholder="Fairly Active Minutes">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                    <label for="inputLightActMin"><strong><ion-icon name="timer"></ion-icon> Lightly Active Minutes</strong></label>
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#li-time" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="li-time">
                        <div class="card card-body alert-warning">
                            <strong>Light Active Minutes</strong><hr>Please enter the estimated total time spent at light levels of activity.
                            Light levels of activity correlate with lightly elevated heart rate.
                            <i>This is measured in minutes.</i>
                        </div>
                        <br>
                    </div>
                    <input type="text" class="form-control" id="inputLightActMin" name="LightActMin" placeholder="Light Active Minutes">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                    <label for="inputSedenMin"><strong><ion-icon name="time"></ion-icon> Sedentary Minutes</strong></label>
                        </div>
                        <p>
                            <button class="btn btn-sm btn-secondary text-white rounded-circle shadow-lg" type="button" data-toggle="collapse" data-target="#s-distance" aria-expanded="false" aria-controls="collapseExample">
                                <ion-icon name="help"></ion-icon>
                            </button>
                        </p>
                    </div>
                    <div class="collapse" id="s-distance">
                        <div class="card card-body alert-warning">
                            <strong>Sedentary Minutes</strong><hr>Please enter the estimated total time spent at Sedentary levels of activity.
                            Low levels of activity correlate with low elevated heart rate.
                            <i>This is measured in minutes.</i>
                        </div>
                        <br>
                    </div>
                    <input type="text" class="form-control" id="inputSedenMin" name="SedenMin" placeholder="Sedentary Minutes">
                </div>
                <label for="inputSedenMin"><strong><ion-icon name="code-working"></ion-icon> Select Model!</strong></label>
                <select class="form-control form-control-sm" name="chosenModel" id="inputChosenModel">
                        <option>Model 1</option>
                        <option>Model 2</option>
                </select>
                <hr>
                <button type="submit" value="submit" class="btn btn-light"><ion-icon name="play"></ion-icon> Analyse!</button>
            </form>
            <br><br>
            <script src="../static/js/app.js"></script>
            </div>
        </div>
    </div>
</div> 

    <div class="parallax3"></div>
</body>
</html>