<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Local style sheets -->
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    
    <!-- external reference sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><script src='//cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://d3js.org/d3.v2.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</head>

<body>
    
  <!------------------------------------------------------------------------------------------>
  <!---------------------------------NAVIGATION BAR------------------------------------------->
  <!------------------------------------------------------------------------------------------>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#"><ion-icon name="pulse"></ion-icon> Game of Fitbit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"><ion-icon name="home"></ion-icon> Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><ion-icon name="paper"></ion-icon> Form<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/ljjbill/game_of_fitbit" target="_blank"><ion-icon name="cloud-outline"></ion-icon> GitHub Repo</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="parallax2">
            
    </div>
    <div class="caption">
        <h1 class="text-black display-1"><strong><ion-icon name="paper"></ion-icon> Vitals Form</strong></h1>
    </div>
  <!------------------------------------------------------------------------------------------>
  <!---------------------------------Form--------------------------------------------->
  <!------------------------------------------------------------------------------------------>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
            <h2>Enter your Fitbit info below!</h2>
            <form method="POST" action="/send" role="form", name="petform">
                <div class="form-group">
                <label for="inputAge">Total Steps</label>
                <input type="text" class="form-control" id="inputAge" name="userAge" placeholder="Age">
                </div>
                <div class="form-group">
                <label for="inputHeight">Distance</label>
                <input type="text" class="form-control" id="inputHeight" name="userHeight" placeholder="Height">
                </div>
                <div class="form-group">
                <label for="inputWeight">Logged Activities Distance</label>
                <input type="text" class="form-control" id="inputWeight" name="userWeight" placeholder="Weight">
                </div>
                <div class="form-group">
                <label for="inputWeight">Very Active Distance</label>
                <input type="text" class="form-control" id="inputWeight" name="userDistance" placeholder="Weight">
                </div>
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
            </div>
        </div>
    </div>

    <div class="parallax2"></div>
</body>
</html>