<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Local style sheets -->
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    
    <!-- external reference sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><script src='//cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://d3js.org/d3.v2.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</head>

<body>
    
  <!------------------------------------------------------------------------------------------>
  <!---------------------------------NAVIGATION BAR------------------------------------------->
  <!------------------------------------------------------------------------------------------>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#"><ion-icon name="pulse"></ion-icon> Game of Fitbit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"><ion-icon name="home"></ion-icon> Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><ion-icon name="paper"></ion-icon> Form<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/ljjbill/game_of_fitbit" target="_blank"><ion-icon name="logo-github"></ion-icon> GitHub Repo</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="parallax2">
            
    </div>
    <div class="caption">
        <div class="row justify-content-center">
        <h1 class="text-dark bg-white display-1 rounded-circle shadow-lg"><strong><ion-icon name="paper"></ion-icon> Vitals Form</strong></h1>            
        </div>
    </div>
  <!------------------------------------------------------------------------------------------>
  <!---------------------------------Form--------------------------------------------->
  <!------------------------------------------------------------------------------------------>
<div class="parallax3">
    <div class="container text-white">
        <div class="row justify-content-center">
            <div class="col-md-7  bg-dark rounded shadow-lg">
            <h2 class="bg-dark text-white rounded text-center">Enter your Fitbit info below!</h2>
            <form method="POST" action="/send" role="form", name="petform">
                <div class="form-group">
                <label for="inputSteps" data-toggle="tooltip" data-placement="top" title="Only for one day"><strong><ion-icon name="walk"></ion-icon> Total Steps</strong></label>
                <div class="alert alert-info" role="alert">
                        A simple info alert—check it out!
                </div>
                <input type="text" class="form-control" id="inputSteps" name="userSteps" placeholder="Steps">
                </div>
                <div class="form-group">
                <label for="inputTackerdist"><strong><ion-icon name="paper-plane"></ion-icon> Distance</strong></label>      
                <input type="text" class="form-control" id="inputTackerdist" name="TrackerDistance" placeholder="Distance">
                </div>
                <div class="form-group">
                <label for="inputLoggedDist"><strong><ion-icon name="football"></ion-icon> Logged Activities Distance</strong></label>
                <input type="text" class="form-control" id="inputLoggedDist" name="LogActDist" placeholder="Acitivity Distance">
                </div>
                <div class="form-group">
                <label for="inputVeryActDist"><strong><ion-icon name="jet"></ion-icon> Very Active Distance</strong></label>
                <input type="text" class="form-control" id="inputVeryActDist" name="VeryActDist" placeholder="Very Active">
                </div>
                <div class="form-group">
                <label for="inputModDist"><strong><ion-icon name="send"></ion-icon> Moderate Active Distance</strong></label>
                <input type="text" class="form-control" id="inputModDist" name="ModActDist" placeholder="Moderate Active">
                </div>
                <div class="form-group">
                <label for="inputLightDist"><strong><ion-icon name="bicycle"></ion-icon> Light Active Distance</strong></label>
                <input type="text" class="form-control" id="inputLightDist" name="LightActDist" placeholder="Light Active">
                </div>
                <div class="form-group">
                <label for="inputSeden"><strong><ion-icon name="man"></ion-icon> Sedentary Active Distance</strong></label>
                <input type="text" class="form-control" id="inputSeden" name="SedenActDist" placeholder="Sedentary Active">
                </div>
                <div class="form-group">
                <label for="inputVeryActMin"><strong><ion-icon name="speedometer"></ion-icon> Very Active Minutes</strong></label>
                <input type="text" class="form-control" id="inputVeryActMin" name="VeryActMin" placeholder="Very Active Minutes">
                </div>
                <div class="form-group">
                <label for="inputFairActMin"><strong><ion-icon name="stopwatch"></ion-icon> Fairly Active Minutes</strong></label>
                <input type="text" class="form-control" id="inputFairActMin" name="FairActMin" placeholder="Fairly Active Minutes">
                </div>
                <div class="form-group">
                <label for="inputLightActMin"><strong><ion-icon name="timer"></ion-icon> Lightly Active Minutes</strong></label>
                <input type="text" class="form-control" id="inputLightActMin" name="LightActMin" placeholder="Light Active Minutes">
                </div>
                <div class="form-group">
                <label for="inputSedenMin"><strong><ion-icon name="time"></ion-icon> Sedentary Minutes</strong></label>
                <input type="text" class="form-control" id="inputSedenMin" name="SedenMin" placeholder="Sedentary Minutes">
                </div>
              
                <button type="submit" value="submit" class="btn btn-light"><ion-icon name="play"></ion-icon> Analyse!</button>
            </form>
            <br><br>
            </div>
        </div>
    </div>
</div> 

    <div class="parallax3"></div>
</body>
</html>