<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Local style sheets -->
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    
    <!-- external reference sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><script src='//cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://d3js.org/d3.v2.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

<body>
    <div class="parallax">
        <div class="caption">
          <h1 class="text-dark display-1"><strong><ion-icon name="pulse"></ion-icon> Game of Fitbit</strong></h1>
        </div>
    </div>
  <!------------------------------------------------------------------------------------------>
  <!---------------------------------NAVIGATION BAR------------------------------------------->
  <!------------------------------------------------------------------------------------------>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand text-white"><ion-icon name="pulse"></ion-icon> Game of Fitbit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><ion-icon name="home"></ion-icon> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="form"><ion-icon name="paper"></ion-icon> Form<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ljjbill/game_of_fitbit" target="_blank"><ion-icon name="logo-github"></ion-icon> GitHub Repo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.icloud.com/keynote/0Q3vnrAHg5Kq4gbVsNciH0ENg#GOF" target="_blank"><ion-icon name="easel"></ion-icon> Keynote</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <ion-icon name="filing"></ion-icon> Machine Learning Notebooks
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" target="_blank" href="/fitbit_L_R_E">FitBit L.R.E. Models</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>
  <!------------------------------------------------------------------------------------------>
  <!---------------------------------ALERT WARNING-------------------------------------------->
  <!------------------------------------------------------------------------------------------>
  <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> This Webpage is under maintenance. Updates Coming soon!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->

  <!------------------------------------------------------------------------------------------>
  <!---------------------------------Left Column---------------------------------------------->
  <!------------------------------------------------------------------------------------------>

  <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-4">
          <h2>Roles and Credits</h2>
          <h5>Bill Liu</h5>
          <p><i>Front-end & Back-end Developer</i></p>
          <ul>
            <li>Developed Data input form</li>
            <li>Created post requests to grab data from input from</li>
            <li>Created Keynote presentation</li>
            <li>Data search & data cleaning</li>
          </ul>
          <h5>Luis Garcia</h5>
          <p><i>Front-end & Back-end Developer</i></p>
          <ul>
            <li>Built Flask application</li>
            <li>Built front-end of the application.</li>
            <li>Translated Machine Learning Models to Flask endpoints</li>
            <li>Connected input form data to machine learning model</li>
          </ul>
          <h5>Prasanna Jaiswl</h5>
          <p><i>Machine Learning Developer</i></p>
          <ul>
            <li>Analysed data.</li>
            <li>Created models and calculated scoring metrics for different models</li>
            <li>Created functions for two models</li>
          </ul>
          <h5>Tejas Babu</h5>
          <p><i>Machine Learning Developer</i></p>
          <ul>
            <li>Analysed data</li>
            <li>Created models and calculated scoring metrics for different models</li>
            <ul>
              <li>FitBit Data</li>
              <li>Health Care Data</li>
            </ul>
          </ul>

          <h3>Some Links</h3>
          <p>Team member GitHub repo</p>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/l-gar" target="_blank">Luis Garcia</a>
              <a class="nav-link" href="https://github.com/ljjbill" target="_blank">Bill Liu</a>
              <a class="nav-link" href="https://github.com/jaiswal-p" target="_blank">Prasanna Jaiswl</a>
              <a class="nav-link" href="https://github.com/tejasbabu/DataScience" target="_blank">Tejas Babu</a>
            </li>
          </ul>
          <hr class="d-sm-none">
        </div>
  <!------------------------------------------------------------------------------------------>
  <!---------------------------------RIGHT COLUMN--------------------------------------------->
  <!------------------------------------------------------------------------------------------>
        <div class="col-sm-8">
            <img src="https://mymodernmet.com/wp/wp-content/uploads/archive/qL1dqxUVlLJc1zFLK8Uk_7dailymoves3.gif" alt="lifting weights" class="img-fluid img-thumbnail rounded" id="lifting">
          <h2>Project Description</h2>
          <p><strong>Goal: </strong><i>To create a full stack application that would intake Fitbit or fitness data and pass it through a machine learning model to make predictions.</i></p>
          <p>
            First, we searched for usefull data. 
            Fitbit user data is not open to the public therefore we decided to use crowdsourced data found <a href="https://zenodo.org/record/53894#.XL4eY-hKg70" target="_blank">here</a>. 
          </p>
          <p>
            Once we took a look at the data we decided to split up responsibilities. 
            Two of our members would work on developing our machine learning models while the rest would focus on building an application.
          </p>
          <p>
            The first thing we created was a Flask application that would serve our project. 
            Then we quickly developed an html front-end with bootstrap components that would host our application and project description. 
            We wanted the home page to maininly focus on the project description and team roles and credits. 
            On the other hand our form tab would display our projects demo and capabilities. 
            On the front end we focused heavily on the user experience hence the multiple features involved through out the entire application.
          </p>
          <p>In the end we added the machine learning models to our flask application.</p>
          <p><i>For a deeper dive into our application please be sure to check out our project repo, our keynote presentation and our machine learning model notebooks.</i></p>
          <br>
          <h3>Technology Used</h3>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>
    </div>

    <div class="parallax"></div>
  <!------------------------------------------------------------------------------------------>
  <!---------------------------------FOOTER--------------------------------------------------->
  <!------------------------------------------------------------------------------------------>
    <div class="jumbotron" style="margin-bottom:0">
      <p><strong>Image Credits:</strong></p>
        <a href="https://mymodernmet.com/author/sarabarnes"><p>Sara Barnes</p></a>
        <a href="https://wallpaper.wiki/free-hd-fitness-wallpapers.html/"><p>Billion Photos</p></a>
      </div>



    
    <!-- <script type="text/javascript" src="../static/js/view1.js"></script> -->
    <script type="text/javascript">
    $('.alert').alert()

    </script>

</body>
</html>